<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scal=1.0">
    <title>Document</title>
</head>

<body>
    <h1><%= @user.name %>, Your games on GDWatcher.com is on sale!</h1>
    <h3>Deal detail</h3>
    <div>
    <% @title %>
    </div>
</body>
</html>